<?xml version="1.0" encoding="utf-8" ?>
<log4net>
 

  <!-- ========  Db Appender  ========  -->
  <appender name="LogAppender" type="log4net.Appender.AdoNetAppender">
    <bufferSize value="1" />
    <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <connectionString value="data source=xx;initial catalog=BugTracking;Integrated Security=True" providerName="System.Data.SqlClient" />
    <commandText value="INSERT INTO LogDB ([DateTime],[Level],[Logger],[Message],[Exception]) VALUES (@DateTime, @Level, @Logger, @Message, @Exception)" />
    <parameter>
      <parameterName value="@DateTime" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.RawTimeStampLayout" />
    </parameter>
    <parameter>
      <parameterName value="@Level" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@Logger" />
      <dbType value="String" />
      <size value="200" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{LoggerColumn}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@Message" />
      <dbType value="String" />
      <size value="8000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@Exception" />
      <dbType value="String" />
      <size value="8000" />
      <layout type="log4net.Layout.ExceptionLayout">
        <conversionPattern value="%exception" />
      </layout>
    </parameter>
  </appender>

  <!-- ========  Trace Appenders  ========  -->
  <appender name="TraceAppender" type="log4net.Appender.RollingFileAppender">
    <file value="D:\Trace\Common\Common.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%3thread] %-5level %logger - %message%newline" />
    </layout>
  </appender>

  <!-- ========  Db Loggers  ========  -->
  <logger name="DalLog">
    <level value="DEBUG" />
    <appender-ref ref="LogAppender" />
  </logger>
  <logger name="BllLog">
    <level value="DEBUG" />
    <appender-ref ref="LogAppender" />
  </logger>
  <logger name="CommonLog">
    <level value="DEBUG" />
    <appender-ref ref="LogAppender" />
  </logger>

  <!-- ========  Trace Loggers  ========  -->
  <root>
    <level value="ALL" />
    <appender-ref ref="TraceAppender" />
    <appender-ref ref="LogAppender" />
  </root>

</log4net>

